In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.simplefilter('ignore')

In [2]:
df = pd.read_csv(r"C:\Users\L.RAMYA\Downloads\gene_expression.csv")
df.head()

   Gene One  Gene Two  Cancer Present
0       4.3       3.9               1
1       2.5       6.3               0
2       5.7       3.9               1
3       6.1       6.2               0
4       7.4       3.4               1

In [3]:
df.isnull().sum()

Gene One          0
Gene Two          0
Cancer Present    0
dtype: int64

In [4]:
df.duplicated().sum()

862

In [5]:
df=df.drop_duplicates()

In [6]:
df

      Gene One  Gene Two  Cancer Present
0          4.3       3.9               1
1          2.5       6.3               0
2          5.7       3.9               1
3          6.1       6.2               0
4          7.4       3.4               1
...        ...       ...             ...
2995       5.0       6.5               1
2996       3.4       6.6               0
2997       2.7       6.5               0
2998       3.3       5.6               0
2999       4.6       8.2               0

[2138 rows x 3 columns]

In [7]:
df.shape

(2138, 3)

In [8]:
df.skew()

Gene One          0.023016
Gene Two         -0.010543
Cancer Present    0.013106
dtype: float64

In [9]:
df.to_excel('cancer.xlsx',index=False)